:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.article {
  align-items: stretch;
  margin: 0 auto;
  border: 1px solid seashell;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  text-align: center;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form input,
.form textarea {
  width: 300px;
  box-sizing: border-box;
}

.form textarea {
  width: 90%;
  height: 50px;
}

.form input {
  width: 90%;
}
.content {
  width: 100%;
  border-top: 1px solid seashell;
  border-bottom: 1px solid seashell;
  padding: 5px 0px;
  box-sizing: border-box;
}
.content p,
.content span {
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 2px 10px;
  margin: 0;
}
